*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #bdbdbd;
    font-family: "Inter", sans-serif;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #FFF7ED;
    font-family: "Inter", sans-serif;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

header {
    display: flex;
    align-items: center;
    padding-block: 10px;
}

header .site-logo {
    color: black;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
}

header a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 600;
    padding: 5px 20px;
}

header a:hover {
    color: #161616;
    text-decoration: underline;
}

.link-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: .75rem 1.375rem;
    color: initial;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.link-button:hover {
    transform: translate(1px, 1px);
}

/*** HOME PAGE ***/
.home-container {
    background: #636363;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 350px;
    color: white;
    padding: 45px 23px;
}

.home-container h1 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 42px;

}

.home-container p {

    line-height: 24px;
}

.home-container h1,
p {
    color: #000;
}

.home-container a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #bdbdbd;
    border: none;
    width: 100%;
    margin-top: 27px;
    padding-block: .75rem;
    color: #636363;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.home-container a:hover {
    transform: translate(1px, 1px);
}


/*** ABOUT PAGE ***/
.about-hero-image {
    max-width: 100%;
}

.about-page-content {
    padding-inline: 23px;
    color: #161616;
    margin-bottom: 55px;
}

.about-page-content h1 {
    line-height: 38px;
    padding: 1rem 0;
}

.about-page-content p {
    line-height: 22px;
}

.about-page-content h1,
p {
    font-size: 1.2rem;
    margin: 0.6rem;

}

.about-page-cta {
    background-color: #636363;
    color: #161616;
    padding-inline: 32px;
    padding-bottom: 32px;
    margin-inline: 27px;
    border-radius: 5px;
}

.about-page-cta h2 {
    margin: 0;
    padding-block: 37px;
}

.about-page-cta .link-button,
.link-button {
    background-color: #bdbdbd;
    color: #636363;
    border-radius: 10px;
}

.van-list-container {
    padding-inline: 23px
}

.van-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 34px;
    margin-top: 57px;
}

.van-tile h1 {
    border: 2px solid red;
}

.van-tile img {
    max-width: 100%;
    border-radius: 5px;
    max-height: 90%;
}

.van-list-container button {
    margin-right: 20px;
    cursor: pointer;
}

.van-info h3 {
    color: #000;
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

.cta-btn {
    background: #636363;
    padding-inline: 0.6rem;
    padding-block: 0.6rem;
    text-decoration: none;
    border-radius: 5px;
    color: #FFF7ED;
    display: block;
    max-width: fit-content;
    margin-left: 4px;
    margin-top: 20px;
}

.van-detail-container img {
    border-radius: 10px;
    padding: 0 0.2rem;
}

.van-detail-container h1 {
    margin-inline: 5px;
    margin-block: 15px;


}

.van-detail-container .link-button {
    margin: 5px;
    font-size: 1.2rem;
    background-color: #bdbdbd;
    color: #636363;
}

@media only screen and (max-width: 425px) {
    header .site-logo {
        margin: 0 auto;
        font-size: 2rem;
    }

    header nav {
        display: none;
    }


    .home-container p {

        max-width: min-content;
    }

    .home-container a {
        max-width: 85%;
    }

}

.host__navigation {
    display: flex;
}

.host__navigation a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
    padding: 5px 20px;
    margin-top: 2rem;
}

.host__navigation a:hover {
    color: #161616;
    text-decoration: underline;
}